/*variables*/
.navbar-custom {
  background-color: #150129; }
  .navbar-custom .nav-link {
    font-family: "Montserrat", sans-serif;
    color: #EED1AA; }
  .navbar-custom .nav-link:hover {
    color: darkcyan;
    font-style: italic; }
  .navbar-custom .nav-link-active {
    color: darkcyan;
    font-style: italic;
    text-decoration: none; }

.contacto {
  padding: 5vw 0 5vw 0; }
  .contacto .contact-title {
    font-family: "Playfair Display", serif;
    color: #EED1AA; }

ul li {
  letter-spacing: 3px;
  list-style-type: none;
  text-transform: lowercase;
  line-height: 25pt; }
  ul li a {
    color: #EED1AA;
    text-decoration: none;
    border-bottom: solid 2px currentColor; }
  ul li a:hover {
    color: darkcyan;
    font-style: italic; }

.servicios {
  padding-top: 5em; }
  .servicios ul {
    padding: 5vw; }
    .servicios ul li {
      font-size: 1.7em;
      padding: 1vw 0 1vw 0; }
  .servicios .servicios-izquierda {
    padding-left: 5em;
    padding-right: 0; }
  .servicios .servicios-derecha {
    padding-right: 5em;
    padding-left: 0; }
  .servicios .servicios-titulo {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    list-style-type: none; }

.carrusel-titulo {
  font-family: "Playfair Display", serif;
  text-transform: lowercase; }

* {
  background-color: #150129;
  padding: 0%;
  font: "Montserrat", sans-serif !important;
  color: #EED1AA; }

.header-general {
  background-image: url(../img/header.png);
  display: flex;
  justify-content: flex-end;
  text-align: right; }
  .header-general #header-title {
    background: none;
    font-family: "Playfair Display", serif;
    font-size: 3em;
    padding: 13rem 5rem 0rem 5rem;
    justify-items: flex-end; }
  .header-general #header-frase {
    background: none;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 0rem 5rem 13rem 5rem;
    justify-items: flex-end; }

.header-seccion {
  padding: 3rem 5rem 0 0; }
  .header-seccion .header-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 10vw;
    padding: 0vw 2vw 0 4vw; }

.footer {
  list-style-type: none;
  padding-top: 5vw; }
  .footer svg {
    fill: #EED1AA;
    color: #EED1AA; }
  .footer svg:hover {
    fill: darkcyan;
    color: darkcyan; }
  .footer .footer-title {
    text-align: left;
    text-transform: lowercase;
    font-style: italic; }
  .footer a {
    text-decoration: none;
    color: #EED1AA; }
