.contacto {
    padding: 5vw 0 5vw 0;
    .contact-title {
        font-family: $title-font;
        color: $normal;
        }
    }
    ul {
        li {
            letter-spacing: 3px;
            list-style-type: none;
            text-transform: lowercase;
            line-height: 25pt;
            a {
                color: $normal;
                text-decoration:none;
                border-bottom: solid 2px currentColor;
            }
            a:hover {
                color: $highlight-color;
                font-style: italic;
            }
        }
}
